.header {
	text-align: center;
	margin: 56px 0;
}

.pageHeading {
	display: inline-block;
	position: relative;
	font-size: 48px;
	font-weight: 800;
	letter-spacing: 1px;
	padding-bottom: 16px;
}

.pageHeading::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 4px;
	width: 50%;
	background: #fb6c6c;
	transform: translateX(-50%);
}
