.card {
	margin-bottom: 24px;
	height: 250px !important;
	border-radius: 50px !important;
	padding: 16px;
	border: none !important;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	transition: all 0.5s ease;
}

.card:hover {
	transform: scale(1.02);
}

.cardBody {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 100%;
	color: #fff !important;
}

.cardInfo h3 {
	font-size: 32px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 4px rgba(81, 67, 21, 0.5);
	opacity: 0.9;
	text-transform: capitalize;
	margin-bottom: 16px;
	font-weight: 700;
}

.cardInfo p {
	font-size: 20px;
	letter-spacing: 1px;
	opacity: 0.5;
	font-weight: 800;
}

.cardInfo span {
	display: block;
	font-size: 14px;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	background: rgb(255 255 255 / 50%);
	width: fit-content;
	padding: 6px 16px;
	border-radius: 32px;
	margin-bottom: 8px;
}

.cardImg img {
	width: 100%;
	height: 100%;
}

:global(.card-normal) {
	background-color: #d3d3d3 !important;
}
:global(.card-fighting) {
	background-color: #800000 !important;
}
:global(.card-flying) {
	background-color: #87ceeb !important;
}
:global(.card-poison) {
	background-color: #800080 !important;
}
:global(.card-ground) {
	background-color: #996633 !important;
}
:global(.card-rock) {
	background-color: #808080 !important;
}
:global(.card-bug) {
	background-color: #008000 !important;
}
:global(.card-ghost) {
	background-color: #4b0082 !important;
}
:global(.card-steel) {
	background-color: #c0c0c0 !important;
}
:global(.card-fire) {
	background-color: #ff4500 !important;
}
:global(.card-water) {
	background-color: #00bfff !important;
}
:global(.card-grass) {
	background-color: #48d0b0 !important;
}
:global(.card-electric) {
	background-color: #b3b300 !important;
}
:global(.card-psychic) {
	background-color: #9370db !important;
}
:global(.card-ice) {
	background-color: #b0e0e6 !important;
}
:global(.card-dragon) {
	background-color: #483d8b !important;
}
:global(.card-dark) {
	background-color: #000000 !important;
}
:global(.card-fairy) {
	background-color: #ff69b4 !important;
}
:global(.card-unknown) {
	background-color: #a9a9a9 !important;
}
:global(.card-shadow) {
	background-color: #333333 !important;
}
